
{% extends "layout.html" %}

{% block pageTitle %}
  Office for National Statistics
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Office for National Statistics
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}
      <p>
        We are the UK’s largest independent producer of official statistics and its 
        recognised national statistical institute.
      </p>

      <h2 class="govuk-heading-m">Search for data and analysis</h2>

      <form method="GET" action="/search">
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="name">
            Search by topic, area
          </label> -->
          <span id="national-insurance-number-hint" class="govuk-hint">
            You can search for datasets, analysis, surveys, locations or dates.
          </span>
          <input class="govuk-input" id="q" name="q" type="text" value="trade">
        </div>
        <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
            Search
          </button>
        </div>
      </form>

      <h2 class="govuk-heading-m">What do you want to do?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/latest">Find the latest statistics</a></li>
        <li><a href="/filter-a-dataset">Filter or download a dataset</a></li>
        <li><a href="/explore-your-local-area">Find data by area</a></li>
        <li><a href="/research-a-topic">Research a topic</a></li>
        <li><a href="/respond-to-a-survey">Respond to a survey</a></li>
      </ul>
    </div>
</div>

{% endblock %}
