
{% extends "layout.html" %}

{% block pageTitle %}
  Office for National Statistics
{% endblock %}

{% block content %}
    <a href="/" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}

      <form method="GET" action="/search">
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="name">
            Search by topic, area
          </label> -->
          <span id="national-insurance-number-hint" class="govuk-hint">
            You can search for datasets, analysis, surveys, locations or dates.
          </span>
          <input class="govuk-input" id="q" name="q" type="text" value="trade">
        </div>
        <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
            Search
          </button>
        </div>
      </form>

      <h2 class="govuk-heading-m">4 results found for 'trade'</h2>

      <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/statistics/uk-trade">UK trade</a>
                <p>
                    Total value of UK exports and imports of goods and services by current price, 
                    chained volume measures and implied deflators. 
                </p>
                <span class="govuk-hint">
                    Due to publish at 9:30am today<br />
                    Last published on Friday 3rd September at 9:30am
                </span>
            </li>
            <li>
                <a href="/statistics/uk-productivity">UK productivity</a>
                <p>
                        Output per hour, output per job and output per worker for the whole economy and 
                        a range of industries. Includes estimates of unit labour costs.
                </p>
                <span class="govuk-hint">
                    Due to publish at 9:30am today<br />
                    Last published on Friday 3rd September at 9:30am
                </span>
            </li>
            <li><a href="/statistics/economic-well-being">Economic well-being</a></li>
            <li><a href="/statistics/uk-index-of-production">UK index of production</a></li>
        </ul>
    </div>
</div>

{% endblock %}
